body {
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background-color: gray;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 5em;
    width: 100vw;

    background-color: pink;
}

.boton_izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 5em;
    width: 50%;

    background-color: blue;
}

.boton_der {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 5em;
    width: 50%;

    background-color: green;
}

.boton_trayectoria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 2em;
    width: 4em;

    border-radius: 3em;

    margin-left: 1em;

    background-color: yellow;
}
.centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 40em;
    width: 100vw;
   

    background-color: lightblue;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 5em;
    width: 100vw;


    background-color: orange;
}
